<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd 
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
	<!-- component scan active -->
	<context:component-scan base-package="com.kt.controller" />
	<!-- option not required if component scan is added -->
	<context:annotation-config />
	<!-- Handler mapping -->
	<bean
		class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />
	<!-- view resolver 2 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.tiles3.TilesViewResolver" />
	<bean id="configurer"
		class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
		<property name="definitions">
			<list>
				<value>/WEB-INF/tiles.xml</value>
			</list>
		</property>
	</bean>
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- <property name="maxUploadSize" value="100000" /> -->
	</bean>
	<!-- Jdbc template -->
	<bean id="jt" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="ds" />
	</bean>
	<!-- DataSource -->
	<bean id="ds"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl" />
		<property name="username" value="project" />
		<property name="password" value="pulse" />
	</bean>
	<bean id="pms" class="com.kt.bean.PMS" />
	<bean id="PMSDao" class="com.kt.dao.PMSEntryDAOImpl">
		<property name="jt" ref="jt" />
	</bean>
	<bean id="emp" class="com.kt.bean.EMPLOYEE" />
	<bean id="EmpDao" class="com.kt.dao.EmpEntryDAOImpl">
		<property name="jt" ref="jt" />
	</bean>
	<mvc:annotation-driven />
</beans>
